parameters:
	ignoreErrors:
		-
		    message: "#^Parameter \\#1 \\$value of class Twint\\\\Sdk\\\\Value\\\\UnfiledMerchantTransactionReference constructor expects non\\-empty\\-string, string given\\.$#"
		    count: 1
		    path: src/Service/PaymentService.php