{% block twint_certificate_block %}
    <div>
        <sw-file-input
            v-model="currentCertFile"
            :allowed-mime-types="['application/x-pkcs12']"
            :maxFileSize="8*1024*1024"
            {% if VUE3 %}
                @update:value="onFileChange"
            {% else %}
                @change="onFileChange"
            {% endif %}>
            required
        >
            <template #caption-label>
                {{ $tc('twint.certificateFileLabel') }}
            </template>
        </sw-file-input>

        <sw-password-field
                v-model:value="currentPassword"
                :entity-collection="null"
                class="twint-config-field"
                :label="$tc('twint.certificateLabel')"
                :help-text="$tc('twint.certificatePasswordHelpText')"
                @blur="updatePassword">
            <template #suffix>
                {% block twint_certificate_password_suffix_block %}
                    <sw-icon name="regular-low-vision"size="22px"></sw-icon>
                {% endblock %}
            </template>
        </sw-password-field>
    </div>
{% endblock %}
