.twint-button {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    background-color: #262626;

    [data-bs-theme="dark"] & {
        background-color: #ffffff;
    }

    & &_icon_block {
        border-radius: 4px;
        margin-right: 10px;
        padding: 4px;

        [data-bs-theme="dark"] & {
            background-color: #262626;
        }
    }

    & &_icon {
        width: 35px;
        height: 35px;
    }

    & &_label {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0.43px;
        text-align: center;
        color: #ffffff;

        [data-bs-theme="dark"] & {
            color: #262626;
        }
    }
}
