.qr-waiting-container {
  .twint-logo {
    background: url("/bundles/twintpayment/assets/twint_logo.png") no-repeat;
    background-size: 140px 53px;
    width: 140px;
    height: 53px;
    display: block;
    margin: auto;
  }
  .section, .wrap {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
  }
  .wrap {
    width: 95%;
    height: inherit;
  }
  #amount-container {
    height: 140px;
    .amount-header {
      vertical-align: middle;
      position: relative;
      top: 40%;
    }
    .value {
      color: white;
      font-size: 54px;
      line-height: 36px;
      font-weight: bold;
      background-color: black;
      padding: 9px 26px;
      margin-top: 20px;
    }
  }
  .qrCode {
    .grey-bg {
      background-color: whitesmoke;
    }
    .qr-row {
      height: auto;
      margin: 10px 0 10px 0;
      overflow: hidden;
    }
    .credentials {
      position: relative;
      display: inline-block;
      overflow: hidden;
      padding-top: 10px;
      .credentials-box {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        .credentials-item {
          background-color: #fefefe;
          vertical-align: middle;
          height: 300px;
          width: 300px;
          margin: 0 auto;
          float: left;
          .credential-number {
            background-color: #cdcccc;
            font-size: 36px;
            font-weight: normal;
            color: black;
            height: 54px;
            width: 44px;
            line-height: 56px;
            position: relative;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
          }
        }
      }
    }
    .description-box {
      width: 800px;
      margin: 0 auto;
      margin-top: 40px;
      .description-item {
        position: relative;
        display: inline-block;
        width: 234px;
        vertical-align: top;
        padding: 0 15px;
        .description-image {
          width: 100%;
          display: inline-block;
          height: 60px;
          text-align: center;
          .description-icon,
          .description-icon-cam {
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-top: -10px;
            position: relative;
          }
          .description-icon {
            background-size: 46px 46px;
            width: 46px;
            height: 46px;
          }
          .description-icon-cam {
            background-size: 62px 42px;
            width: 62px;
            height: 42px;
            margin-top: 0;
          }
          .icon-app {
            background: url("/bundles/twintpayment/assets/twint_logo.png") no-repeat;
            background-size: 116px 46px;
            width: 43px;
            margin-top: -4px;
            border-radius: 10px;
          }
          .icon-pay {
            background: url("/bundles/twintpayment/assets/twint-icon-qr_code.svg") no-repeat;
            margin-top: -5px;
          }
          .icon-cam {
            background: url("/bundles/twintpayment/assets/twint-icon-camera.svg");
            width: 59px;
            height: 42px;
            margin-top: 0;
          }
        }
        .description-text {
          text-align: center;
        }
      }
    }
  }
}

.appChooserArea {
  .app-logos-container {
    margin: 0 auto 32px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 32px 24px;
    .bank-ubs,
    .bank-raiffeisen,
    .bank-pf,
    .bank-zkb,
    .bank-cs,
    .bank-bcv {
      height: 60px;
      width: 60px;
    }
    .bank-ubs {
      background: url("/bundles/twintpayment/assets/apps/ubs.svg") no-repeat;
      background-size: 60px 60px;
    }
    .bank-raiffeisen {
      background: url("/bundles/twintpayment/assets/apps/raiffeisen.svg") no-repeat;
      background-size: 60px 60px;
    }
    .bank-pf {
      background: url("/bundles/twintpayment/assets/apps/pf.svg") no-repeat;
      background-size: 60px 60px;
    }
    .bank-zkb {
      background: url("/bundles/twintpayment/assets/apps/zkb.svg") no-repeat;
      background-size: 60px 60px;
    }
    .bank-cs {
      background: url("/bundles/twintpayment/assets/apps/cs.svg") no-repeat;
      background-size: 60px 60px;
    }
    .bank-bcv {
      background: url("/bundles/twintpayment/assets/apps/bcv.svg") no-repeat;
      background-size: 60px 60px;
    }
  }
}
@media only screen and (max-width: 767px){
  .qr-waiting-container {
    .qrCode{
      .nav, .header, .credential-qrcode, .credential-txt {
        display: inline-block;
      }
      .credentials {
        display: inline-block;
        .credentials-box {
          width: 95%;
          position: relative;
          padding: 0px 10px 0px 10px;
        }
        .credential-token {
          margin-top: 10px;
          >.credentials-item {
            background-color: #fefefe;
            vertical-align: middle;
            position: relative;
            height: 105px;
            width: 300px;
            margin: 0 auto;
            .credential-number {
              height: 60px;
              width: 46px;
              line-height: 62px;
              font-size: 34px;
              margin: 0 1px;
            }
          }
        }
      }
      .description-box {
        width: 344px;
        margin-top: 25px;
        .description-item {
          width: 100%;
          padding: 0;
          .description-image, .description-text {
            display: inline-block;
          }
          .description-image {
            width: 20%;
            vertical-align: top;
            padding-top: 14px;
            margin-right: 8px;
          }
          .description-text {
            width: 72%;
            text-align: left;
            font-size: 16px;
            padding-top: 4px;
          }
        }
      }
    }
  }
}
