.qr-waiting-container {
  .twint-logo {
    background: url("/bundles/twintpayment/assets/twint_logo.png") no-repeat;
    background-size: 140px 53px;
    width: 140px;
    height: 53px;
    display: block;
    margin: auto;
  }
  .section, .wrap {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
  }
  .wrap {
    width: 95%;
    height: inherit;
    margin: auto;
  }
  #amount-container {
    height: 140px;
    .amount-header {
      vertical-align: middle;
      position: relative;
      top: 40%;
    }
    .value {
      color: white;
      font-size: 37px;
      line-height: 36px;
      font-weight: bold;
      background-color: black;
      padding: 9px 26px;
      margin-top: 20px;
    }
  }
  .credentials {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-top: 10px;
    .credentials-box {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      .credentials-item {
        background-color: #fefefe;
        vertical-align: middle;
        height: 300px;
        width: 300px;
        margin: 0 auto;
        float: left;
        .credential-number {
          background-color: #cdcccc;
          font-size: 36px;
          font-weight: normal;
          color: black;
          height: 54px;
          width: 44px;
          line-height: 56px;
          position: relative;
          display: inline-block;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto;
        }
      }
    }
  }
  .alternative-text {
    color: black;
    font-size: 20px;
    padding-top: 10px;
    line-height: 23px
  }
  .qr-code {
    .grey-bg {
      background-color: whitesmoke;
    }
    .qr-row {
      height: auto;
      margin: 10px 0 10px 0;
      overflow: hidden;
    }
    .description-box {
      width: 800px;
      margin: 40px auto 0;
      .description-item {
        position: relative;
        display: inline-block;
        width: 234px;
        vertical-align: top;
        padding: 0 15px;
        .description-image {
          width: 100%;
          display: inline-block;
          height: 70px;
          text-align: center;
          .description-icon,
          .description-icon-cam {
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-top: -10px;
            position: relative;
          }
          .description-icon {
            background-size: 46px 46px;
            width: 46px;
            height: 46px;
          }
          .description-icon-cam {
            background-size: 62px 42px;
            width: 62px;
            height: 42px;
            margin-top: 0;
          }
          .icon-app {
            background: url("/bundles/twintpayment/assets/twint_logo.png") no-repeat;
            background-size: 116px 46px;
            width: 43px;
            margin-top: -4px;
            border-radius: 10px;
          }
        }
        .description-text {
          text-align: center;
        }
      }
    }
  }
}

.app-chooser-area {
  background: whitesmoke;
  .switch-to-app{
    width: 100%;
  }
  .app-logos-container {
    margin: 0 auto 32px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 32px 24px;
    .bank-ubs,
    .bank-raiffeisen,
    .bank-pf,
    .bank-zkb,
    .bank-cs,
    .bank-bcv {
      height: 60px;
      width: 60px;
    }
    .bank-ubs {
      background: url("/bundles/twintpayment/assets/apps/app_icon_ubs.png") no-repeat;
      background-size: 60px 60px;
    }
    .bank-raiffeisen {
      background: url("/bundles/twintpayment/assets/apps/app_icon_raiffeisen.png") no-repeat;
      background-size: 60px 60px;
    }
    .bank-pf {
      background: url("/bundles/twintpayment/assets/apps/app_icon_postfinance.png") no-repeat;
      background-size: 60px 60px;
    }
    .bank-zkb {
      background: url("/bundles/twintpayment/assets/apps/app_icon_zkb.png") no-repeat;
      background-size: 60px 60px;
    }
    .bank-cs {
      background: url("/bundles/twintpayment/assets/apps/app_icon_credit_suisse.png") no-repeat;
      background-size: 60px 60px;
    }
    .bank-bcv {
      background: url("/bundles/twintpayment/assets/apps/app_icon_bcv.png") no-repeat;
      background-size: 60px 60px;
    }
  }
  #app-chooser-container{
    .app-chooser-title {
      text-align: center;
      font-size: 20px;
      color: #000;
      margin-top: 30px;
      margin-bottom: 24px;
    }
    .app-chooser {
      min-height: 56px;
      padding: 0 20px 1px 18px;
      width: 100%;
      text-align-last: center;
      border: none !important;
      border-radius: 0 !important;
      font-size: 19px;
      background: white;
    }
  }
}
@media only screen and (max-width: 767px){
  .qr-waiting-container {
    .qr-code{
      .nav, .header, .credential-qrcode, .credential-txt {
        display: inline-block;
      }
    }
    .credentials {
      display: inline-block;
      .credentials-box {
        width: 95%;
        position: relative;
        padding: 0px 10px 0px 10px;
        display: block;
      }
      .credential-token {
        margin-top: 10px;
        >.credentials-item {
          height: 105px;
          .credential-number {
            height: 60px;
            width: 46px;
            line-height: 62px;
            font-size: 34px;
            margin: 0 1px;
          }
        }
      }
    }
  }
}
