{% sw_extends "@Storefront/storefront/component/product/card/action.html.twig" %}

{% set fastButton = page.extensions['TwintFastCheckoutButton'] %}

{% block page_product_detail_product_buy_button %}
    {{ parent() }}

    {% block twint_buy_button_plp %}
        {% if fastButton is defined and fastButton %}
            <button class="btn btn-secondary w-100 mt-1" title="{{ fastButton.getName() }}" aria-label="{{ fastButton.getName() }}">
                {{ fastButton.getName() }}
            </button>
        {% endif %}
    {% endblock %}

{% endblock %}
