{% block twint_qr_guide %}
    <div class="container mt-4 qr-code d-none d-md-block">
        <div class="row justify-content-center p-4">
            <div class="col-lg-10 modal-lg-12">
                <div class="row justify-content-center">
                    <div class="col-12 {% if expressCheckout %}col-md-6 mb-4{% else %}col-md-12{% endif %}">
                        <div class="d-flex flex-column align-items-center" data-test="tutorial-scan">
                            <div class="d-flex justify-content-center">
                                <img class="guide-icon"
                                     src="{{ asset('bundles/twintpayment/assets/icons/icon-scan.svg') }}" alt="scan"/>
                            </div>
                            <div class="text-center mt-4">{{ "twintPayment.instruction.scanQR"|trans() }}</div>
                        </div>
                    </div>
                    {% if expressCheckout %}
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-column align-items-center" data-test="tutorial-contact">
                            <div class="d-flex justify-content-center">
                                <img class="guide-icon"
                                     src="{{ asset('bundles/twintpayment/assets/icons/icon-contact.svg') }}"
                                     alt="scan"/>
                            </div>
                            <div class="text-center mt-4">{{ "twintPayment.instruction.selectAddress"|trans() }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
