<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Environment</title>
        <title lang="de-DE">Environment</title>
        <title lang="fr-FR">Environment</title>
        <title lang="it-IT">Environment</title>

        <input-field type="bool">
            <name>testMode</name>
            <label>Switch to test mode</label>
            <label lang="de-DE">Zum benutzerdefinierten Abnahmetestmodus wechseln</label>
            <label lang="fr-FR">Switch to test mode</label>
            <label lang="it-IT">Switch to test mode</label>

            <helpText>Turning on test mode will use the TWINT PAT environment. PAT stands for Production Acceptance Test and allows you to test your TWINT integration on an environment closeley resembling the production environment without actually charging a TWINT account</helpText>
            <helpText lang="de-DE">Custom Acceptance Test Mode (On) / Production Mode (Off)</helpText>
            <helpText lang="fr-FR">Custom Acceptance Test Mode (On) / Production Mode (Off)</helpText>
            <helpText lang="it-IT">Custom Acceptance Test Mode (On) / Production Mode (Off)</helpText>

            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Credentials</title>
        <title lang="de-DE">Credentials</title>
        <title lang="fr-FR">Credentials</title>
        <title lang="it-IT">Credentials</title>

        <input-field>
            <name>merchantId</name>
            <label>Merchant ID</label>
            <label lang="de-DE">Merchant ID</label>
            <label lang="fr-FR">Merchant ID</label>
            <label lang="it-IT">Merchant ID</label>
            <required>true</required>
            <placeholder>xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx</placeholder>
        </input-field>

        <component name="twint-certificate">
            <name>certificate</name>
            <label>Certificate File</label>
            <label lang="de-DE">Zertifikat Passwort</label>
            <label lang="fr-FR">Certificate File</label>
            <label lang="it-IT">Certificate File</label>

            <helpText>Enter the certificate password for the TWINT merchant certificate</helpText>
            <helpText lang="de-DE">Enter the certificate password for the TWINT merchant certificate</helpText>
            <helpText lang="fr-FR">Enter the certificate password for the TWINT merchant certificate</helpText>
            <helpText lang="it-IT">Enter the certificate password for the TWINT merchant certificate</helpText>
            <required>true</required>
        </component>
    </card>
</config>
