{% block sw_order_detail_state_card_state %}
    {% parent %}
    <hr class="sw-order-detail-state-card__divider">
    <div class="w-100 transaction-log-row">
        <label class="sw-order-detail-state-card__label">
            {{ $tc('twint.order.stateCard.label') }}
        </label>
        <sw-external-link
                icon="regular-long-arrow-right"
                @click="onShowTwintTransactionLogs"
        >
            {{ $tc('twint.order.stateCard.showTransactionLogModal') }}
        </sw-external-link>
    </div>
{% endblock %}
