{% sw_extends "@Storefront/storefront/page/checkout/cart/index.html.twig" %}

{% set fastButton = page.extensions['TwintFastCheckoutButton'] %}

{% block page_checkout_cart_action_proceed %}
    {{ parent() }}

    {% block twint_buy_button_cart %}
        {% if fastButton is defined and fastButton %}
            <button class="btn w-100 mt-1 btn-secondary" title="{{ fastButton.getName() }}" aria-label="{{ fastButton.getName() }}">
                {{ fastButton.getName() }}
            </button>
        {% endif %}
    {% endblock %}

{% endblock %}
