{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block base_content %}
    {% block page_qr_waiting %}
        {% set isAndroid = false %}
        {% set isIosDevice = false %}
        {% set androidLink = '' %}
        {% if payLinks.android is defined%}
            {% set isAndroid = true %}
        {% endif %}
        {% if payLinks.ios is defined%}
            {% set isIosDevice = true %}
        {% endif %}
        {% if isAndroid and payLinks.android %}
            {% set androidLink = payLinks.android %}
        {% endif %}
        <script>
            window.storefrontUrl = "{{ app.request.get('sw-storefront-url') }}";
        </script>

        {{ include('@TwintPayment/storefront/component/qr-code/qr-container.html.twig',
            {
                qrCode: qrCode,
                androidLink: androidLink,
                isAndroid: isAndroid,
                isIosDevice: isIosDevice,
                payLinks: payLinks,
                cart: cart,
                pairing : pairing,
                pairingToken : pairingToken,
                pairingHash : pairingHash,
                expressCheckout: false,
            }
        )
        }}
    {% endblock %}
{% endblock %}

{% block base_main %}
    <div class="bg-light">
        {{ parent() }}
    </div>
{% endblock %}
